---
import MainLayout from "../layouts/main.astro";

import ContactFormModal from "../components/ContactFormModal.astro";
import ContactFormBtn from "../components/ContactFormBtn.astro";
import HeroImage from "../components/HeroImage.astro";
import Footer from "../components/Footer.astro";
import { formatDate } from "../utils/date";
import ProjectList from "../components/ProjectList.astro";

const contactFormId = "contactFormDialog";
---

<MainLayout content={{ title: "ManuXO5 - Developer Portfolio" }}>
	<ContactFormModal id={contactFormId} />
	<ContactFormBtn formId={contactFormId} />

	<header class="pt-10 md:pt-35 px-7 md:max-w-3xl md:mx-auto">
		<div class="md:center md:flex-col">
			<div>
				<HeroImage class="size-28" />
			</div>

			<h1 class="pt-5 text-2xl font-bold text-primary dark:text-primary">
				Hey, I&apos;m ManuXO5
			</h1>

			<div
				class="pt-2 md:pt-5 md:max-w-xl md:text-center text-lg space-y-5 text-muted-foreground"
			>
				I'm a software developer specializing in building clean, performant
				digital experiences. I thrive on turning complex problems into simple
				and beautiful.
			</div>
		</div>
	</header>

	<main
		class="pt-20 pb-10 md:pt-40 md:max-w-3xl mx-auto px-7 text-muted-foreground"
	>
		<h2 class="font-mono text-sm">[ Work ]</h2>

		<ProjectList class="pt-7" />
	</main>

	<Footer />
</MainLayout>
