---
import { SiteConfig } from "../site-config";
---

<footer class="mt-8 border-t border-neutral-800 pt-10 pb-8">
	<div class="flex items-center justify-center gap-6">
		{
			SiteConfig.socials.map(({ label, href }) => (
				<a
					href={href}
					class="text-sm text-neutral-400 hover:text-neutral-100 transition-colors"
				>
					{label}
				</a>
			))
		}
	</div>

	<p class="text-center text-sm text-neutral-600 pt-1">
		© 2025 ManuXO5. All rights reserved.
	</p>
</footer>
