---
import { formatDate } from "../utils/date";
import { SiteConfig } from "../site-config";

const { class: className } = Astro.props;
---

<ul class:list={["space-y-8", className]}>
	{
		SiteConfig.projects.map(({ label, description, href, releaseDate }) => (
			<li class="">
				<p>{formatDate(releaseDate)}</p>

				<p class="text-xl underline">
					<a href={href}>{label}</a>
				</p>

				<p class="pt-1">{description}</p>
			</li>
		))
	}
</ul>
