---
import { SiteConfig } from "../site-config";
import { formatDate } from "../utils/date";
import { dateSorter } from "../utils/array";

const { class: className } = Astro.props;
---

<ul class:list={["space-y-8", className]}>
	{
		SiteConfig.projects
			.sort(
				(a, b) =>
					dateSorter(a.endDate ?? a.startDate, b.endDate ?? b.startDate) * -1,
			)
			.map(({ label, description, href, startDate, endDate }) => (
				<li>
					<p>
						{startDate == null
							? formatDate(endDate)
							: endDate == null
								? formatDate(startDate) + " - Ongoing"
								: formatDate(startDate) + " - " + formatDate(endDate)}
					</p>

					<p class="text-xl underline">
						<a href={href}>{label}</a>
					</p>

					<p class="pt-1">{description}</p>
				</li>
			))
	}
</ul>
